$textColor: #29a329;
$textColorHover: #f7f0dd;
$textColorShadow: #000;

.start {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 500px;
  height: 150px;
  padding-bottom: 12px;

  cursor: pointer;
  transform: translate(-50%, -50%);

  font-family: 'Handvetica', 'Kalam Bold', sans-serif;
  font-size: 80px;
  font-weight: bolder;
  font-style: italic;
  line-height: .5;


  display: inline-block;


  text-decoration: none;
  text-transform: uppercase;

  color: $textColor;
  text-shadow: 5px 3px 5px $textColorShadow;

  &:hover {
    color: $textColorHover;
  }

}
