
@font-face {
  font-family: 'Handvetica';
  src: url('Handvetica.ttf');
}

@font-face {
  font-family: 'Kalam Regular';
  src: url('Kalam-Regular.ttf');
}

@font-face {
  font-family: 'Kalam Light';
  src: url('Kalam-Light.ttf');
}

@font-face {
  font-family: 'Kalam Bold';
  src: url('Kalam-Bold.ttf');
}

@font-face {
  font-family: 'Marker';
  src: url('PermanentMarker-Regular.ttf');
}

@font-face {
  font-family: 'Architects Daughter';
  src: url('Architects-Daughter.ttf');
} 

@font-face {
  font-family: 'Patrick Hand';
  src: url('Patrick-Hand.ttf');
}
